adagio==0.2.6
appdirs==1.4.4
coreforecast==0.0.16
fs==2.4.16
fsspec==2025.9.0
fugue==0.9.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
numpy==2.0.2
pandas==2.2.2
pandas-stubs==2.2.2.240909
patsy==1.0.1
scipy==1.15.3
sklearn-pandas==2.2.0
statsforecast==2.0.2
statsmodels==0.14.5
triad==0.9.8
utilsforecast==0.2.14
pytest==8.4.2
openpyxl==3.1.5
